<div class="container">
  <form class="form-signin">
    <h2 class="form-signin-heading">Iniciar Sesion</h2>
    <label for="userLogIn" class="sr-only">Usuario</label>
    <input type="text" id="userLogIn" class="form-control" placeholder="Usuario" required="" autofocus="" ng-model="userLogIn">
    <label for="inputPassword" class="sr-only">Contraseña</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required="" ng-model="passwordLogIn">
    <button class="btn btn-lg btn-primary btn-block" ng-click='logIn()'>Log in</button>
  </form>
</div>